<ul class="nav justify-content-end">
  <li class="whatIsCovid">
    <a class="nav-link active" href="#faqs">COVID-19 FAQs</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#cdc">CDC Hot Line</a>
  </li>
</ul>

<br>
<form>
  <div class="first-container">
    <div class="form-group">
      <label for="enterCountryToSearch">Please Enter Country to Search</label>
      <input type="country" class="form-control mr-sm-2" id="enterCountryToSearch" placeholder="country name goes here">
    </div>
    <div class="submit">
      <button type="submit" class="btn btn-primary" id="submit">Submit</button>
    </div>
  </div>
  <div class="canvas-div" {{!-- style="width: 400px;height: 300px;" --}}>
    <canvas id="line-chart" width="800" height="450"></canvas>
  </div>
</form>
<br>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body cb1">
        <img src="/assets/img/covid.png" alt="HTML5 Icon" width="400" height="200">
        <h4 class="card-title">A Global Impact</h4>
        <p class="card-text">The Coronavirus COVID-19 outbreak was declared a Public Health Emergency of International
          Concern on 30 January 2020 by the World Health Organization.</p>
        <p class="card-text">Global Cases: 318,000 || Global Deaths: 13,672</p>
        <p class="card-text">Total Number of Countries, Areas, or Territories with Cases: 187</p>
        <p class="card-text">Metrics current as of 22 March 2020</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card cb2">
      <div class="card-body">
        <h4 class="globalHotspots">Coronavirus COVID-19 Global Hotspots</h4>
        <div>
          <br>
          <ul>
            {{#each countries}}
            {{> countries/countries-block}}
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>

<div class="card" id="faqs">
  <div class="card-body">
    <h1>COVID-19 Global FAQs</h2>
      <h3>What is Coronavirus:</h3>
      <p>Coronaviruses are a large family of viruses, some causing illness in people and others circulating
        among animals, including camels, cats and bats. The 2019 novel coronavirus (COVID-19) is a new
        virus that causes respiratory illness in people and can spread from person-to-person. This virus
        was first identified during an investigation into an outbreak in Wuhan, China.</p>
      <br>
      <h3>What are the Symptons of COVID-19:</h3>
      <p>Symptons of COVID-19 can include:</p>
      <ul>
        <li>
          <p>Fever</p>
          <p>Cough</p>
          <p>Shortness of breath</p>
        </li>
      </ul>
      <p>The symptoms may appear in as few as two days or as long as 14 days after exposure. Reported illnesses
        have ranged from people with little to no symptoms to people being severely ill and dying. </p>
      <br>
      <h3>How does COVID-19 spread:</h3>
      <p>Human to human transmital of COVID-19 occurs just like the flu or a cold:</p>
      <ul>
        <li>
          <p>Through the air by coughing or sneezing;</p>
          <p>Close personal contact, such as touching or shaking hands;</p>
          <p>touching an object or surface with the virus on it;</p>
          <p>Occasionally, fecal contamination;</p>
        </li>
      </ul>
  </div>
</div>

<div class="card" id="cdc">
  <div class="card-body">
    <h1>Center for Disease Controll (CDC) Hotline</h2>
      <h3>1-800-232-4636</h3>
  </div>
</div>