<li class="countryData">
	{{!-- <p>ID: {{id}}</p> --}}
    <h5>{{dataValues.country}}</h5>
    <h6>COVID-19 Incidents: {{dataValues.confirmed}}</h6>
    <h6>COVID-19 Deaths: {{dataValues.deaths}}</h6>
</li>
